$color-primary-dark-full: hsl(21, 91%, 46%);

$color-border-light: hsl(0, 0%, 80%);

$color-primary-dark: hsl(21, 94%, 52%);
$color-primary-light: hsl(21, 94%, 70%);

$color-bg-dark: hsl(27, 90%, 97%);
$color-bg-light: hsl(24, 100%, 99%);

$color-font-dark: hsl(0, 0%, 20%);
$color-font-mid: hsl(210, 10%, 35%);
$color-font-light: hsl(0, 0%, 95%);
$color-font-blue: hsl(222, 87%, 20%);

$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);

$color-danger: hsl(354, 70%, 54%);
$color-success: hsl(134, 61%, 41%);
$color-warning: hsl(45, 100%, 51%);
/*
$color-info: hsl(188, 78%, 41%);
$color-light: hsl(210, 17%, 98%);
$color-dark: hsl(210, 10%, 23%);

$color-blue: hsl(211, 100%, 50%);
$color-indigo: hsl(263, 90%, 51%);
$color-purple: hsl(261, 51%, 51%);
$color-pink: hsl(332, 79%, 58%);
$color-red: hsl(354, 70%, 54%);
$color-orange: hsl(27, 98%, 54%);
$color-yellow: hsl(45, 100%, 51%);
$color-green: hsl(134, 61%, 41%);
$color-teal: hsl(162, 73%, 46%);
$color-cyan: hsl(188, 78%, 41%);
$color-gray-light: hsl(208, 7%, 46%);
$color-gray-dark: hsl(210, 10%, 23%);
*/
